.hidden {
  display: none;
}
.title {
  position: relative;
  font-size: 30px;
  text-align: center;
}

#todo-form {
  position: relative;
  top: 20px;
  left: 600px;
  padding-inline-start: 0;
}

.form-text-box {
  position: relative;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 120px;
}

.rating {
  position: relative;
  float: left;
  bottom: 15px;
  left: 5px;
  display: flex;
  flex-direction: row-reverse;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  font-size: 30px;
  color: #ddd;
  cursor: pointer;
  margin-right: 5px;
}

.rating input[type="radio"]:checked + label,
.rating input[type="radio"]:checked ~ label {
  color: #00a80e;
}

.rating input[type="radio"]:hover + label {
  color: #00620f;
}
.form-time-box {
  margin-left: 10px;
}

.slider-container {
  position: relative;
  top: 15px;
  margin-left: 100px;
}
#pre {
  float: left;
}

#canvas-container {
  background-color: antiquewhite;
  width: 60vw;
  height: 60vh;
  float: left;
  resize: horizontal;
}
#left-panel {
  width: 25vw;
  float: left;
  resize: horizontal;
  background-color: bisque;
}
#todo-list {
  font-size: 12px;
  list-style-type: none;
  position: relative;
}

#todo-list #index span {
  text-align: center;
  margin-left: 50px;
}

.todo-style {
  margin-top: 10px;
}

.text-box {
  text-align: center;
  float: left;
  border: 2px solid #ccc;
  width: 100px;
}

.importancy-box {
  text-align: center;
  float: left;
  color: #6bd574;
  width: 80px;
  margin-left: 10px;
}

.time-box {
  text-align: center;
  border: 2px solid #ccc;
  width: 180px;
  margin-left: 10px;
}
.delete-button {
  background-color: beige;
  text-align: center;
  border: 2px solid #ccc;
}

#right-panel {
  width: 14vw;
  float: left;
  resize: horizontal;
  background-color: cadetblue;
}
